body {
  background: rgb(229, 226, 226);
  font-family: Montserrat, sans-serif;
}
.weather-app {
  background: white;
  max-width: 700px;
  margin: 30px auto;
  padding: 20px;
  border-radius: 10px;
}
